<div class="actions-container">
  <div class="action action-generate-coa">
    <div class="wrapper">
      <h4><%= link_to('Generate COA','lot/certificate') %></h4>
      <p>Click here to create a certificate of analysis from quality assurance records. COA’s can also be printed here.</p>
    </div>
  </div>
</div>