<div class="actions-container">
  <div class="action-manage-facilities action">
    <div class="wrapper">
      <h4><%= link_to('Manage facilities',facility_path) %></h4>
      <p>Click here to add a new lab facility to the quality assurance website. Existing facilities can also be updated here. </p>
    </div>
  </div>
  
  <div class="action-manage-products action">
    <div class="wrapper">
      <h4><%= link_to('Manage products',product_path) %></h4>
      <p>Click here to add a new product to the quality assurance website. Existing products can also be updated here. </p>
    </div>
  </div>
  
  <div class="action-manage-lab-methods action">
    <div class="wrapper">
      <h4><%= link_to('Manage lab methods',lab_method_path) %></h4>
      <p>Click here to add a new testing method as an option when entering new data in the quality assurance tab.  Testing criteria can also be updated here. </p>
    </div>
  </div>
  
  <div class="action-manage-triggers action">
    <div class="wrapper">
      <h4><%= link_to('Options','/options') %></h4>
      <p>Click here to set other options.</p>
    </div>
  </div>

</div>