<div class="search-container">
  <form>
    <input type="text" name="search-term" id="search-term" placeholder="Search users (first name, last name, id)">
    <input type="button" name="search-button" id="search-button" value="Search">
  </form>
</div>

<div class="actions-container">
  <div class="action-enter-new-data action">
    <div class="wrapper">
      <h4><%=link_to('Create new user',user_new_path)%></h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="action-view-recent-history action">
    <div class="wrapper">
      <h4>Edit your account</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
</div>

